body {
    background: linear-gradient(silver, cyan);
}

p {
    font-family: helvetica;
    font-size: 16px;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: 0 0 10px #111
}

/* style the name - Elon Musk */
h1 {
    font-size: 45px;
    font-family: 'Poiret One', cursive;
    margin-top: 0;
    margin-bottom: 11px;
}

/* style Biography and Timeline */
h2, h3 {
    font-family: 'Poiret One', cursive;
    font-size: 32px;
    margin-top: 16px;
    line-height: 50px;
}

/* style his photo */
.img {
    display: block;
    margin-left: 6px;
    margin: 0 auto;
    width: 100%;
}

/* padding in header and on top of Timeline */
.header {
    padding-top: 50px;
    font-family: 'Poiret One', cursive;
    margin: 0px;
}

.pad-top {
    padding-top: 50px;
}

.pad-left {
    padding-left: 30px;
}

.pad-right {
    padding-right: 30px;
}

blockquote p {
    margin: 30px 30px 0px;
    font-style: italic;
    color: #990099;
}

#footer-quote { /* footer for blockquote */
    margin-top: 0px;
    margin-right: 58px;
}

li {
    margin-bottom: 15px;
    padding: 0;
    list-style-type: none;
}

.text {
    font-size: 16px;
    font-family: helvetica;
}

h5 {
    padding-bottom: 30px;
}

footer > p { /* footer at the end of website */
    padding-bottom: 20px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 14px;
}

div > hr {
    margin: 10px -15px 20px;
}

@media (max-width: 767px) {
  /* 992px-768px: date drops down before < 768px makes dt on top of dd */
    dt {
        text-align: right;
    }
    .img { /* style Elon Musk photo */
        margin: 0 auto;
        max-width: 70%;
    }
}

/* this doesn't work... */
@media (max-width: 425) {
    ul p {
        margin-bottom: 0 !important;
    }
}
