// default browser font-size is 16px, 62.5% of that is 10px; 1rem = 10px
html {
  font-size: 62.5%;
}

body {
    background: linear-gradient(silver, cyan);
}

.container {
    background-color: white;
    box-shadow: 0 0 10px #111;
}

header div > p {
    font-size: 2.2rem;
}

/* style the name - Elon Musk */
h1 {
    font-family: 'Poiret One', cursive;
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 11px;
}

/* style Biography and Timeline */
h2 {
    font-family: 'Poiret One', cursive;
    font-size: 3.2rem;
    margin-top: 16px;
    line-height: 50px;
}

.summary {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

/* style Elon's photo */
.img {
    display: block;
    margin-left: 6px;
    margin: 0 auto;
    width: 100%;
}

/* padding in header and on top of Timeline */
.header {
    padding-top: 40px;
    font-family: 'Poiret One', cursive;
    margin: 0px;
}

blockquote p {
    margin: 30px 30px 0px;
    font-style: italic;
    color: #990099;
}

/* footer for blockquote */
#footer-quote {
    margin: 0;
    font-size: 1.6rem;
}

.timeline-margin--top--left {
    margin-top: 55px;
    margin-left: 20px;
}

.first-row-padding--left--right {
    padding-left: 30px;
    padding-right: 30px;
}

.second-row-padding--left--right {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-margin--top {
    margin-top: 50px;
}

li {
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    padding: 0;
    list-style-type: none;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

footer > p { /* footer at the end of website */
    padding-bottom: 20px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 1.4rem;
}

div > hr {
    margin: 10px -15px 20px;
}

ul > p {
    font-weight: 700;
}

.find-out-more {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 10px;
    margin: 0 auto;
    font-size: 2.2rem;
}

@media (max-width: 1200px) {
  .timeline-margin--top--left {
    margin-top: 0px;
  }
}

@media (max-width: 991px) {
  .first-row-padding--left--right {
    padding-left: 15px;
    padding-right: 25px;
  }

  .second-row-padding--left--right {
    padding-left: 0px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  // style Elon Musk photo
  .img {
      margin: 0 auto;
      max-width: 50%;
  }

  .row ul > p {
      margin-bottom: 0;
  }

  .first-row-padding--left--right {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header {
    padding-top: 30px;
  }

  div > hr {
    margin: 10px -15px -1px;
  }

  html {
    font-size: 60%;
  }

  .second-row-padding--left--right .row > p {
    padding: 0;
  }
}

@media (max-width: 576px) {
  blockquote p {
    margin: 25px 20px 0;
  }

  #footer-quote {
    margin-right: 0px;
  }

  .biography {
    font-size: 1.5rem;
  }

  .summary {
    font-size: 1.7rem;
    font-weight: 500;
  }

  li {
    margin-bottom: 18px;
  }
}

@media (max-width: 426px) {
  .first-row-padding--left--right {
    padding-left: 20px;
    padding-right: 20px;
  }

  .second-row-padding--left--right {
    padding-right: 16px;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 57%;
  }

  .second-row-padding--left--right .row {
    padding-left: 30px;
  }

  .timeline-margin--top--left {
    margin-left: 10px;
  }

}
